.grid-container{
    display: grid;
    margin:0;
    margin-left: 1%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 5%;
  }

  .grid-2x2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
  
  .grid-1x2{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

  }

  .grid-test{
    background-color: #E72F24;
  }

