@import "flex.css";
@import "grid.css";

body {
  font-family: "Poppins", sans-serif;
  margin:0;
  margin-left: 1%;
  margin-right: 1%;
  background-color: whitesmoke;
  flex-direction: column;
  min-height: 95vh;
  min-width: 200px;
  height: auto;
  width:auto;
  color: black;
}

div{
  margin: 0px;
}

.gradient-background{
  background-color: #4158D0;
background-image: linear-gradient(-43deg, #4159d0ea 0%, #C850C079 46%, #fca504c5 100%);
}

h1 {
  font-size: 5rem;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: left;
}

h2 {
  font-size: 2rem;
  color: black;
}

p {
  font-size: 1rem;
  color: black;
}

.gradient-text {
  background: linear-gradient(to left, purple, rgb(203, 94, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}

.portfolio-image {
  float: left;
  width: 100%;
  height:300px;
  max-width: 500px;
  margin-right: 50px;
  border-radius: 5%;
  object-fit: cover
}

.portfolio-image:hover {
  box-shadow: 5px 5px rgba(203, 94, 0, 10);
}

a {
  text-decoration: none;
}

.centered{
  text-align: center;
}

.justify{
  text-align: justify;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
  margin-top: auto; 
}

@media (max-width: 733px) {
  h1 {
    font-size: 4rem;
    text-align: center;
    margin: 5px;
  }

  h2 {
    margin: 5px;
  }

  .grid-container{
    gap:0;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  
  .flex-container-row, .flex-container-column{
    display: inline-block;
    margin: 0;
  }

  .portfolio-image {
    margin: 0;
    display: inline;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    float: none;
  }

  div{
    display:inline-block;

  }

  .space {
    margin: 5%;
  }

  .flex-card, .flex-space {
    display: inline-block;
  }
}